@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;

    --layer1: 0 0% 98%;
    --layer2: 0 0% 96%;
    --layer3: 0 0% 82%;
    --layer4: 0 0% 88%;
    --layer5: 0 0% 84%;
    --layer6: 0 0% 80%;
    --layer7: 0 0% 76%;

    --content1: 0 0% 54%;
    --content2: 0 0% 46%;
    --content3: 0 0% 38%;
    --content4: 0 0% 30%;
    --content5: 0 0% 22%;
    --content6: 0 0% 14%;
    --content7: 0 0% 6%;
  }

  :root.dark {
    /* 다크 모드가 라이트 모드와 동일 비율로 줄어들면 훨씬 어두워서 눈이 아픔 */
    --layer1: 0 0% 8%;
    --layer2: 0 0% 10%;
    --layer3: 0 0% 14%;
    --layer4: 0 0% 18%;
    --layer5: 0 0% 22%;
    --layer6: 0 0% 26%;
    --layer7: 0 0% 30%;

    --content1: 0 0% 50%;
    --content2: 0 0% 58%;
    --content3: 0 0% 66%;
    --content4: 0 0% 74%;
    --content5: 0 0% 82%;
    --content6: 0 0% 90%;
    --content7: 0 0% 98%;

    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  /* 다크 모드 배경 색 변경 시 */
  * {
    transition: background-color 200ms ease;
  }

  @font-face {
    font-family: "Pretendard Variable";
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url("./woff2/PretendardVariable.woff2") format("woff2-variations");
  }

  html {
    font-family: "Pretendard Variable";
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    font-size: 16px;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex items-center justify-center font-mono text-base font-medium text-center border-4 rounded-full h-9 w-9 border-background bg-muted -indent-px;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
